body{
  width: 1280px;
  margin: 0 auto; 
}

#container {
  direction: rtl;
  align-items: center;
  background-color: #F6EBE5;
  border: 1px none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: max-content;
  min-width: 385px;
  padding: 0px 106px;
  position: relative;
  font-family: Heebo,Gisha,Calibri;
 
}

#logo {
  width: 200px;
  height: auto;
}



p {
  text-align: center;
  font-size: 30px;
}

h1 {
  font-size: 45px;
  text-align: center;
 color:rgba(22, 57, 22, 0.473);
}

h2 {
  text-align: center;
  font-size: 35px;
  color: #335133;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mainNav ul ul {
  display: none;
}

#mainNav ul li:hover > ul {
  display:block ;
  width: 180px;
  height: 50px;
}

#mainNav ul {
  position: relative;
  text-align: center;
}

#mainNav ul li {
  display: inline-block;
  width: 200px;
}

#mainNav ul li a {
  display: block;
  background-color: rgba(22, 57, 22, 0.473);
  border: 1px solid;
  color: white;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
}

#mainNav ul ul {
  position: absolute;
  top: 100%;
}

#mainNav ul ul li {
  width: 100%;
  height: 70px;
  display: block;
}

#mainNav ul ul li a {
  padding-left: 20px;
}

#mainNav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

#bottomNav li {
  display: inline-block;
}

  #bottomNav li a {
      display: block;
      background-color: rgba(22, 57, 22, 0.473);
      border: 1px solid;
      color: white;
      width: 200px;
      height: 70px;
      text-decoration: none;
      text-align: center;
      font-size: 25px;
  }

      #bottomNav li a:link {
          background-color: rgba(22, 57, 22, 0.473);
      }

      #bottomNav li a:hover {
          background-color: white;
          color: rgba(22, 57, 22, 0.473);
      }


form {
  display:block;
  margin-top: 30px;
  width: 500px;
  padding: 20px;
  background: #DFBDAA;
  border-radius: 30px;
  color:#335133;
  font-family: heebo, gisha, calibari;
  font-size: 20px;
}

.kochavit {
  font-weight: bold;
  color: white ;
  font-family: Heebo, sans-serif, calibari;
  font-size: 15px;
  text-align: right;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.migdar .tipulim{
  margin-right: 10px;
}

#send{
  font-family: Heebo, sans-serif, calibari; 
  border-radius: 10px;
  background: #335133;
  color: #DFBDAA;
  


}

.tochen{
  font-family: Heebo, sans-serif, calibari;

}
.TopPage {
    
  display: inline-block;
  padding: 1%;
  margin-right: 44%;
  width: fit-content;
  border-radius: 12px;
  border: 1px solid #F6EBE5;
  background-color: white;
  margin-bottom: 100px;
  text-decoration: none;
  color: rgb(199, 158, 150);

}
.notWorking{
  cursor: not-allowed;
}
.breadcrumbs {
  padding: 10px;
}
.breadcrumbsItem{
  display: inline-block;
}

.breadcrumbsItem:not(:last-of-type)::after{
  content: ">";
  
}
