body{
  width: 1280px;
  margin: 0 auto; 
}

#container
{
    direction:rtl;
    align-items: center;
    background-color: #F6EBE5 ;
    border: 1px none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: max-content;
    min-width: 385px;
    padding: 0px 106px;
    position: relative;
    font-family: Heebo,Gisha,Calibri;



}
#logo{
  width: 200px;
  height: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #mainNav ul ul {
    display: none;
  }
  
  #mainNav ul li:hover > ul {
    display:block ;
    width: 180px;
    height: 50px;
  }
  
  #mainNav ul {
    position: relative;
    text-align: center;
  }
  
  #mainNav ul li {
    display: inline-block;
    width: 200px;
  }
  
  #mainNav ul li a {
    display: block;
    background-color: rgba(22, 57, 22, 0.473);
    border: 1px solid;
    color: white;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
  }
  
  #mainNav ul ul {
    position: absolute;
    top: 100%;
  }
  
  #mainNav ul ul li {
    width: 100%;
    height: 70px;
    display: block;
  }
  
  #mainNav ul ul li a {
    padding-left: 20px;
  }
  
  #mainNav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  #bottomNav li {
    display: inline-block;
  }
  
  #bottomNav li a {
    display: block;
    background-color: rgba(22, 57, 22, 0.473);
    border: 1px solid;
    color: white;
    width: 200px;
    height: 70px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
  }
  
  #bottomNav li a:link {
    background-color: rgba(22, 57, 22, 0.473);
  }
  
  #bottomNav li a:hover {
    background-color: white;
    color: rgba(22, 57, 22, 0.473);
  }
.outside
{
height: 400px;
width: 350px;
padding: 60px;
margin-top: 100px;
}
.whoAreWe{
width: 500px;
height: 200px;
font-weight: 400;
font-size: 24px;
line-height: 115.1%;
text-align: center;
color: #402312;
margin: 10px;  
border: 10px 5px;  
padding: 10px;

}
.TopPage {
    
  display: inline-block;
  padding: 1%;
  margin-right: 44%;
  width: fit-content;
  border-radius: 12px;
  border: 1px solid #F6EBE5;
  background-color: white;
  margin-bottom: 100px;
  text-decoration: none;
  color: rgb(199, 158, 150);

}
.notWorking{
  cursor: not-allowed;
}

  
  
  
  