body{
  width: 1280px;
  margin: 0 auto; 
}

#container
{
    direction:rtl;
    align-items: center;
    background-color: #F6EBE5 ;
    border: 1px none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: max-content;
    min-width: 385px;
    padding: 0px 106px;
    position: relative;
    font-family: Heebo,Gisha,Calibri;
    


}
#logo{
  width: 200px;
  height: auto;
}
p{
  text-align: center;
  font-size: 30px;
}
h1{
  font-size: 45px;
  text-align: center;
  color:rgba(22, 57, 22, 0.473)
}
h2{
  text-align: center;
  border: 5px double rgba(22, 57, 22, 0.473);
  font-size: 35px;

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #mainNav ul ul {
    display: none;
  }
  
  #mainNav ul li:hover > ul {
    display:block ;
    width: 180px;
    height: 50px;
  }
  
  #mainNav ul {
    position: relative;
    text-align: center;
  }
  
  #mainNav ul li {
    display: inline-block;
    width: 200px;
  }
  
  #mainNav ul li a {
    display: block;
    background-color: rgba(22, 57, 22, 0.473);
    border: 1px solid;
    color: white;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
  }
  
  #mainNav ul ul {
    position: absolute;
    top: 100%;
  }
  
  #mainNav ul ul li {
    width: 100%;
    height: 70px;
    display: block;
  }
  
  #mainNav ul ul li a {
    padding-left: 20px;
  }
  
  #mainNav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  #bottomNav li {
    display: inline-block;
  }
  
  #bottomNav li a {
    display: block;
    background-color: rgba(22, 57, 22, 0.473);
    border: 1px solid;
    color: white;
    width: 200px;
    height: 70px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
  }
  
  #bottomNav li a:link {
    background-color: #16391679;
  }
  
  #bottomNav li a:hover {
    background-color: white;
    color: rgba(22, 57, 22, 0.473);
  }

  *****

    
    
    .webMap ul {
        margin: 0;
        padding: 0;
        display: block;
        flex-wrap: wrap;
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        }
    
    li.webMap {
        display: inline-block;
        list-style-type: none;
        margin-bottom: 5px;
        margin-right: 10px;
        vertical-align: top;

    }    
    
    .webMap a {
        font-size: 25px;
        text-decoration: none;
        color: #16391679; 
        border-radius: 5px;
        background: #DFBDAA;
        color: #335133;
        padding: 0 5px;
    }

    
    .webMap ul li a{
      font-size: 20px;
      text-decoration: none;
      color: #956041;
      text-align: center;
      border: none;
      background:  transparent;
    }
    
    .webMap ul li a.noActive{
      color: #6d6d6d;
      cursor: not-allowed;
  }
  .TopPage {
    
    display: inline-block;
    padding: 1%;
    margin-right: 44%;
    width: fit-content;
    border-radius: 12px;
    border: 1px solid rgb(199, 158, 150);
    margin-bottom: 100px;
    margin-top: 100px;
    text-decoration: none;
    color: rgb(199, 158, 150);

}
.breadcrumbs {
  padding: 10px;
}
.breadcrumbsItem{
  display: inline-block;
}

.breadcrumbsItem:not(:last-of-type)::after{
  content: ">";
  
}
.noActive{
  cursor: not-allowed;
}